* {
    text-decoration: none;
}

.navbar {
    background: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 50px;
    padding-left: 50px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: 18px;
}

button {
    background-color: cyan;
    margin-left: 10px;
    border-radius: 10px;
    padding: 7px;
    width: 80px;
}

button a {
    color: gray;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background-color: gold;
}

li a:hover {
    text-decoration: underline;
}